<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ply</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PLY 3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PCD 3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PCD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xyz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XYZ 3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XYZ</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>droplet</string>
	<key>CFBundleIconFile</key>
	<string>open3d</string>
	<key>CFBundleGetInfoString</key>
	<string>Open3D-Viewer: 3D Model viewer with Open3D</string>
	<key>CFBundleIdentifier</key>
	<string>com.intel_isl.open3d_viewer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BNDL</string>
	<key>CFBundleLongVersionString</key>
	<string>0.5.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>com.intel_isl.open3d_viewer</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
