[Desktop Entry]
Type=Application
Name=Open3D-Viewer
Comment=Processor and editor of large 3D triangular meshes
Exec=open3d-viewer %F
Terminal=false
Categories=Graphics
MimeType=model/x.stl-binary;model/x-ply;application/x-xyz;application/x-expe-binary;image/x-photo-cd;
